.popap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    .modal {
        background-color: antiquewhite;
        position: relative;
        padding: 20px 30px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 400px;
        max-width: 400px;
        &-close {
            position: absolute;
            top: 10px;
            right: 10px;
        }
        &__item {
            display: flex;
            flex-direction: column;
            gap: 2px;
        }
        &__label {
            font-size: 20px;
        }
        &__input {
            font-size: 16px;
            padding: 5px 10px;
            outline: none;
            border-radius: 5px;
        }
        .btns{
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
        }
        &__btn {
            background-color: rgb(34, 0, 153);
            color: antiquewhite;
            padding: 5px 10px;
            font-size: 16px;
            border-radius: 5px;
        }
    }
}