.product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .info{
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
        padding: 0px 30px;
    }
    
}