.products {
    max-width: 500px;
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .list{
        border: 2px solid black;
        border-radius: 7px;
        padding: 0px 20px;
    }
    button {
        cursor: pointer;
        border: none;
        background-color: inherit;
    }
}