body {
    color: #696868;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.game {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.squre {
    height: 50px;
}

img {
    max-width: 100%;
}